<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>mist-io</short>
  <description>mist.io Community Edition. SaaS edition is available at https://mist.io/</description>
  <port protocol="tcp" port="{{ mistio.config.port }}"/>
</service>
